{% extends 'core/base.html' %}

{% block title %} {{page_title}} {% endblock title %}

{% block container-fluid %}
 <!-- hero content -->
 <div class="container-fluid mb-4">
    <div class="row">
        <div class="col-sm-12">
            <img src="https://picsum.photos/id/41/1200/200" alt="" class="w-100">
        </div>
    </div>
   
    <div class="bg-dark bg-gradient p-4 border-bottom border-top">
        <div class="col-sm-12">
            <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                <div class="container-fluid">
                    <h1 class="display-1 fw-bold text-center">Vizyonumuz</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, explicabo, aliquam impedit
                        quam pariatur sequi iusto, dolore quidem voluptas nesciunt beatae et odit deleniti dolor
                        ratione debitis accusantium incidunt exercitationem.</p>
                    <p>Accusantium ipsam adipisci, eos enim suscipit laudantium maxime quisquam error dolorem, odio
                        molestiae sunt molestias aliquid ducimus nihil at, consectetur commodi sit modi reiciendis
                        quo quidem alias perferendis. Corrupti, asperiores?</p>
                    <p>Aliquam quae, possimus architecto, corrupti fugit animi voluptates consequuntur repellendus
                        debitis, ab deserunt explicabo tenetur sapiente earum error ipsa! Voluptatum animi fugit
                        nostrum officiis recusandae incidunt vitae voluptatibus vel cumque!</p>
                    <p>Dignissimos minima, iure numquam placeat voluptas magni nemo repudiandae unde, laudantium
                        quos qui ab odit explicabo culpa quis, ratione omnis sapiente fugit quae natus quisquam
                        officia necessitatibus deleniti doloremque! Architecto?</p>
                    <p>Id tempora nobis distinctio ratione, voluptate delectus ex nisi veritatis sint doloribus
                        saepe harum labore possimus, hic perferendis rem natus corporis magnam qui libero quo
                        cumque, minus enim! Quos, non.</p>

                </div>
            </div>
        </div>
    </div>
  

</div>
<!-- hero content end -->
{% endblock container-fluid %}

{% block container %}

{% endblock container %}
