{% extends 'core/base.html' %}


{% block container %}
    
    

    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-sm-12">
                <img src="https://picsum.photos/id/41/1200/450" alt="" class="w-100">
            </div>
        </div>
        <!-- hero content -->
        <div class="bg-dark bg-gradient p-4 border-bottom border-top">
            <div class="col-sm-8 offset-sm-2">
                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid">
                        <h1 class="display-1 fw-bold text-center">Haqqimizda</h1>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui,
                            non eveniet officiis
                            inventore quisquam quod rerum nihil quia ut iusto beatae recusandae cupiditate dolores
                            voluptates esse minus! Dolore, voluptatem?</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero content end -->


    </div>


    <!-- Projects -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
               <h2>Vizyonumuz</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa totam, earum ut itaque consectetur dolores, accusantium laudantium ipsam est cupiditate ipsa, officia neque deleniti ratione omnis corporis quo excepturi necessitatibus!</p>
               <p>Cumque adipisci alias rerum aspernatur molestias odio aperiam id. Est maiores iusto amet sapiente accusamus voluptatem expedita perspiciatis possimus eius ut laudantium aliquid quo tenetur iste maxime quidem, sunt odit.</p>
               <p>Magnam ipsum facere modi voluptates ab dolorem suscipit dicta a numquam eveniet reprehenderit eum odio, reiciendis neque et consequuntur cumque. Et quae dolorem necessitatibus totam laboriosam fugit vero, eveniet nam.</p>
               <hr>
               <h2>Misyonumuz</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates unde autem nisi sed, porro in doloribus, consectetur magni ipsam veritatis magnam debitis nulla quos! Ab aperiam cupiditate incidunt corporis pariatur?</p>
                <p>Repellendus libero ex ab facilis, delectus eos in saepe doloremque impedit sequi, officiis omnis cumque. Delectus sequi nihil in. Nam sequi temporibus sapiente veritatis necessitatibus! Repudiandae, animi! Itaque, soluta alias.</p>
                <p>Porro, tempore? Minima magni dolorem expedita maxime non repellat nemo id quod nostrum sed, voluptate quibusdam quis aliquid exercitationem, nihil autem obcaecati similique molestias optio doloremque repudiandae. Cupiditate, expedita quod.</p>
                <p>Ea iusto ratione libero quis laboriosam pariatur mollitia similique, iure placeat ex maxime commodi quidem inventore reiciendis fugiat cumque dolor omnis quae ullam dolores nostrum adipisci quam soluta voluptates. Dolorum.</p>
                <ul>
                    <li>Lorem, ipsum.</li>
                    <li>Expedita, aliquid.</li>
                    <li>Molestiae, minus!</li>
                    <li>Autem, rerum.</li>
                </ul>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-sm-12">
                <h2 class="text-center">Projelerimiz</h2>
                <hr>
            </div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/21/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/22/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/23/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/24/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/25/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/26/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/27/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/28/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
        </div>
    </div>

    <!-- Projects End -->
    {% endblock container %}
