{% extends 'core/base.html' %}


{% block container %}
    

    

    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-sm-12">
                <img src="https://picsum.photos/id/41/1200/450" alt="" class="w-100">
            </div>
        </div>
        <!-- hero content -->
        <div class="bg-dark bg-gradient p-4 border-bottom border-top">
            <div class="col-sm-8 offset-sm-2">
                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid">
                        <h1 class="display-1 fw-bold text-center">Elaqe</h1>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui,
                            non eveniet officiis
                            inventore quisquam quod rerum nihil quia ut iusto beatae recusandae cupiditate dolores
                            voluptates esse minus! Dolore, voluptatem?</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero content end -->


    </div>
        <!-- Projects -->
   
        <div class="row mb-5">
            <div class="col-sm-8 offset-sm-2">
                <h2>Adresimiz</h2>
                <address>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi atque quo quis eligendi
                        temporibus, recusandae voluptatibus nihil amet provident!</p>
                </address>
                <hr>
                <h2 class="mt-5">Bizimle Elaqe Saxlayin</h2>
                <form class="row g-3">
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Ad" aria-label="Ad">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Soyad" aria-label="Soyad">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Seher/Rayon</label>
                        <input type="text" class="form-control" id="inputAddress">
                      </div>
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-12">
                        <label for="Aciqlama" class="form-label">Aciqlama</label>
                        <textarea class="form-control" placeholder="Bura yazin..." id="floatingTextarea"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="inputState" class="form-label">Bizi Nece Tapdiniz?</label>
                        <select id="inputState" class="form-select">
                            <option selected>Secin...</option>
                            <option>Sosial Shebeke</option>
                            <option>Radio Reklami</option>
                            <option>TV Reklami</option>
                            <option>Facebook</option>
                            <option>Twitter</option>
                            <option>Instagram</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Gonder</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-sm-12">
                <h2 class="text-center">Projelerimiz</h2>
                <hr>
            </div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/21/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/22/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/23/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/24/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/25/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/26/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/27/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
            <div class="col-sm col-6 mb-1"><img src="https://picsum.photos/id/28/100/80" alt=""
                    class="w-100 img-thumbnail"></div>
        </div>
    

    <!-- Projects End -->


   
    {% endblock container %}
